<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580798809269-kc1206b9bb6i5aka9np6njh8odi98c0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580798809269-kc1206b9bb6i5aka9np6njh8odi98c0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBGbYi4J1-zFCB2jxSEyM3iSd9h8nmyYts</string>
	<key>GCM_SENDER_ID</key>
	<string>580798809269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahman.authentication</string>
	<key>PROJECT_ID</key>
	<string>fir-5928d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-5928d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580798809269:ios:e7bb08260b0f1b60896afc</string>
</dict>
</plist>